<section class="px-4 pt-32   lg:pb-6">
  <div
    class="grid lg:grid-cols-2 items-center justify-items-center gap-5  mx-auto w-4/5 border-b-2 border-neutral-600 pb-4">
    <div class="order-1 lg:order-1 shadow-2xl ">
      <img class="h-80 w-80 object-cover lg:w-[500px] lg:h-[500px] rounded-3xl" src="assets/img/code.jpg" alt="" />
    </div>
    <div class="order-2 lg:order-2  flex flex-col justify-center lg:items-start text-center sm:text-left ">
      <p class="mt-2 text-3xl md:text-lg sm:text-sm text-white">Hello!</p>
      <p class="text-4xl font-figtree font-thin md:text-7xl  text-white ">I'm
        <span
          class="text-purple-700 font-figtree  text-transparent bg-clip-text bg-gradient-to-r from-purple-800 via-red-300 to-red-800">Matheus
          Viana</span>
      </p>
      <p
        class="mt-2 text-3xl sm:text-xs md:text-lg text-white text-transparent bg-clip-text bg-gradient-to-r from-orange-500 via-amber-300 to-orange-700">
        Front End Developer
      </p>
      <p class="mt-2 lg:text-xl md:text-lg sm:text-sm md:text-left text-white italic">Sou estudante de Análise e
        Desenvolvimento de
        Sistemas, apaixonado por tecnologia, com foco em FrontEnd. Embora meu foco seja FrontEnd, também estudo Java
        como BackEnd para ampliar minhas habilidades. Estou sempre em busca de novos desafios e oportunidades para
        aprimorar minhas competências técnicas e práticas.</p>
      <div class="flex items-center justify-center pt-4">
        <button
          class="relative inline-flex h-12 active:scale-95 transition overflow-hidden rounded-lg p-[1px] focus:outline-none text-lg sm:justify-center md:text-2xl lg:mt-6">
          <span
            class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#ef4444_0%,#f97316_50%,#b91c1c_100%)]">
          </span>
          <span
            class="inline-flex h-full w-full cursor-pointer items-center justify-center rounded-lg bg-slate-950 px-7 text-sm font-medium text-white backdrop-blur-3xl gap-2">
            Contact me
            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512" height="1em"
              width="1em" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M429.6 92.1c4.9-11.9 2.1-25.6-7-34.7s-22.8-11.9-34.7-7l-352 144c-14.2 5.8-22.2 20.8-19.3 35.8s16.1 25.8 31.4 25.8H224V432c0 15.3 10.8 28.4 25.8 31.4s30-5.1 35.8-19.3l144-352z">
              </path>
            </svg>
          </span>
        </button>
      </div>



    </div>

  </div>
</section>
