<section id="home"
  class="flex-between lg:h-screen max-md:flex-col max-md:justify-start bg-cover bg-center bg-no-repeat w-full object-cover z-10 relative pt-20 lg:pt-0 overflow-hidden">
  <div class="w-full h-full absolute top-0 left-0 z-0 opacity-90 bg-cover bg-center bg-no-repeat object-cover">
    <div class="w-full absolute top-0 left-0 z-0 opacity-90 bg-cover bg-center bg-no-repeat object-cover">
      <img src="assets/gif/neonCube.gif" alt="Background GIF" class="w-full h-full object-cover max-md:min-h-screen">
    </div>
  </div>
  <div class="flex items-center justify-center gap-8 max-md:flex-col max-md:items-center max-md:gap-4 lg:mt-72 sm:mt-32 z-10 max-h-[80vh] md:mt-20">
    <div class="relative w-full  z-10 flex justify-center items-center lg:mb-96 md:mt-16 max-md:h-[80vh]">
      <img
        class="object-cover object-center rounded z-10 transition-transform duration-500 ease-in-out transform hover:-hue-rotate-90  sm:mt-10 lg:hover:translate-x-28"
        alt="hero" src="assets/img/circulomaishomemgame.png">
    </div>
    <div class="flex-center relative flex flex-col text-6xl font-bold max-md:mx-auto md:items-end md:text-8xl lg:text-[10vw] max-md:mt-16">
      <h1 class="bg-clip-text uppercase leading-none tracking-wider text-transparent bg-gradient-to-t from-red-600 via-pink-950 to-purple-900
    hover:transform hover:rotate-6 transition duration-500 ease-in-out sm:mr-[120px]" >Matheus </h1>

      <h1 class="pink-cursor-lg bg-gradient-to-b from-neutral-200 to-neutral-950 bg-clip-text uppercase leading-none text-transparent max-md:m-0 md:leading-[120px] pb-20 ">Viana</h1>
    </div>
  </div>
</section>
