<section class="max-w-full bg-gradient-to-r from-black via-[#010607] to-black pt-10">
  <div>
    <h1 class="my-20 text-center text-4xl text-white pb-24 pt-20" style="margin: 0;">Projetos</h1>

  </div>
  <div class="text-cyan-300 lg:text-right text-center lg:mr-52">
    <a href="https://github.com/mathrocks19?page=1&tab=repositories" class="text-cyan-300 hover:underline">
      Ver mais projetos (BackEnd)
    </a>
  </div>


  <div class="container mx-auto px-2   ">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 p-3">
      <div class="group relative w-[90vw] cursor-pointer rounded-md border md:w-auto border-secondary-dark bg-primary-dark hover:text-white shadow-2xl hover:shadow-purple-800">
        <div>
          <img src="assets/imgProjetos/Front/imgHtmlSimples.png" loading="lazy" class="z-10 h-auto w-full rounded-t-md object-cover lg:h-56">
        </div>
        <div class="rounded-b-md px-4 pt-px ">
          <div class="flex flex-col py-3">
            <h1 class="mb-2 text-xl font-semibold text-gray-300">HTML E CSS Simples </h1>
            <p class="h-18 text-sm font-medium md:h-24 text-gray-300/70">Este foi o meu primeiro site feito em HTML E CSS, contento apenas uma página inicial com uma introdução sobre o projeto</p>
          </div>
          <div class="mt-2 flex flex-row  mb-4 sm:flex-row sm:gap-2">
            <div class="flex  md:flex-row md:gap-2 sm:flex-row sm:gap-2">
              <div class="flex h-fit w-fit items-center justify-center rounded-2xl ml-3 px-1 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 30px; font-size: 12px; color: white; font-weight: 600; border: 1px solid rgb(46, 46, 64); ">
                <div class="flex h-fit w-fit items-center justify-center rounded-full px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: 42px; height: 42px;">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="text-7xl text-white" height="30" width="30">
                    <path fill="#E65100" d="M41,5H7l3,34l14,4l14-4L41,5L41,5z" />
                    <path fill="#FF6D00" d="M24 8L24 39.9 35.2 36.7 37.7 8z" />
                    <path fill="#FFF" d="M24,25v-4h8.6l-0.7,11.5L24,35.1v-4.2l4.1-1.4l0.3-4.5H24z M32.9,17l0.3-4H24v4H32.9z" />
                    <path fill="#EEE" d="M24,30.9v4.2l-7.9-2.6L15.7,27h4l0.2,2.5L24,30.9z M19.1,17H24v-4h-9.1l0.7,12H24v-4h-4.6L19.1,17z" />
                  </svg>
                </div>
                HTML5
              </div>
              <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-1 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 30px; font-size: 12px; color: white; font-weight: 600; border: 1px solid rgb(46, 46, 64); ">
                <div class="flex h-fit w-fit items-center justify-center rounded-full px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: 42px; height: 42px;">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="text-7xl text-white" height="30" width="30">
                    <linearGradient id="TQDriqswrKwPOniLrPT12a" x1="16.33" x2="32.293" y1="-2.748" y2="41.109" gradientUnits="userSpaceOnUse">
                      <stop offset="0" stop-color="#2aa4f4" />
                      <stop offset="1" stop-color="#007ad9" />
                    </linearGradient>
                    <path fill="url(#TQDriqswrKwPOniLrPT12a)" d="M7.192,7.176l2.627,29.77c0.109,1.237,0.97,2.28,2.164,2.621l10.643,3.041	c0.898,0.257,1.849,0.257,2.747,0l10.643-3.041c1.194-0.341,2.055-1.383,2.164-2.621l2.627-29.77C40.911,6.006,39.99,5,38.816,5	H9.184C8.01,5,7.089,6.006,7.192,7.176z" />
                    <path fill="#35c1f1" d="M24,8v31.9l9.876-2.822c0.797-0.228,1.371-0.924,1.443-1.749l2.286-26.242	C37.656,8.502,37.196,8,36.609,8H24z" />
                    <path fill="#fff" d="M33.1,13H24v4h4.9l-0.3,4H24v4h4.4l-0.3,4.5L24,30.9v4.2l7.9-2.6L32.6,21l0,0L33.1,13z" />
                    <path fill="#d6e0e9" d="M24,13v4h-8.9l-0.3-4H24z M19.4,21l0.2,4H24v-4H19.4z M19.8,27h-4l0.3,5.5l7.9,2.6v-4.2l-4.1-1.4	L19.8,27z" />
                    <path d="M33.1,13l-0.5,8l-0.7,11.5L24,35.1l-7.9-2.6L15.8,27h4l0.1,2.5l4.1,1.4l4.1-1.4l0.3-4.5H24h-4.4l-0.2-4H24h4.6l0.3-4H24 h-8.9l-0.3-4H24H33.1 M34.164,12H33.1H24h-9.2h-1.078l0.081,1.075l0.3,4L14.172,18H15.1H24h3.822l-0.15,2H24h-4.6h-1.051 l0.052,1.05l0.2,4L18.649,26H15.8h-1.056l0.058,1.054l0.3,5.5l0.037,0.682l0.649,0.214l7.9,2.6L24,36.153l0.313-0.103l7.9-2.6 l0.644-0.212l0.041-0.677l0.7-11.5l0.5-7.998L34.164,12L34.164,12z M20.761,26H24h3.331l-0.185,2.769L24,29.843l-3.128-1.068 l-0.073-1.815L20.761,26L20.761,26z" opacity=".05" />
                    <path d="M33.1,13l-0.5,8l-0.7,11.5L24,35.1l-7.9-2.6L15.8,27h4l0.1,2.5l4.1,1.4l4.1-1.4l0.3-4.5H24h-4.4l-0.2-4H24h4.6l0.3-4H24 h-8.9l-0.3-4H24H33.1 M33.632,12.5H33.1H24h-9.2h-0.539l0.04,0.537l0.3,4l0.035,0.463H15.1H24h4.361l-0.225,3H24h-4.6h-0.526 l0.026,0.525l0.2,4l0.024,0.475H19.6H24h3.866l-0.242,3.634L24,30.372l-3.614-1.234L20.3,26.98L20.28,26.5H19.8h-4h-0.528 l0.029,0.527l0.3,5.5l0.019,0.341l0.324,0.107l7.9,2.6L24,35.626l0.156-0.051l7.9-2.6l0.322-0.106l0.021-0.339l0.7-11.5l0.5-7.999 L33.632,12.5L33.632,12.5z" opacity=".07" />
                  </svg>
                </div>
               CSS3
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Repeat the card structure for each project -->
      <div class="group relative w-[90vw] cursor-pointer rounded-md border md:w-auto border-secondary-dark bg-primary-dark hover:text-white shadow-2xl hover:shadow-red-800">
        <div>
          <img src="assets/imgProjetos/Front/imgSiteNetflix.png" loading="lazy" class="z-10 h-auto w-full rounded-t-md object-cover lg:h-56">
        </div>
        <div class="rounded-b-md px-4 pt-px ">
          <div class="flex flex-col py-3">
            <h1 class="mb-2 text-xl font-semibold text-gray-300 ">Site Netflix com a Série Wednesday</h1>
            <p class="h-18 text-sm font-medium md:h-24 text-gray-300/70">Projeto de Estudos para a criação do site Netflix utilizando framework Angular e Tailwind CSS + Flowbite.
            </p>
          </div>
          <div class="mt-2 flex flex-row gap-1 mb-4 "> <div class="flex flex-col md:flex-row md:gap-1 sm:flex-row sm:gap-2">
              <div class="flex h-fit w-fit items-center justify-center rounded-2xl ml-3 px-1 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 30px; font-size: 12px; color: white; font-weight: 600; border: 1px solid rgb(46, 46, 64); ">
                <div class="flex h-fit w-fit items-center justify-center rounded-full px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: 42px; height: 42px;">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="text-7xl text-cyan-400" height="30" width="30">
                    <?xml version="1.0" encoding="utf-8"?>
                    <!-- Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 24 24" style="enable-background:new 0 0 250 250;" xml:space="preserve">
                      <style type="text/css">
                        .st0{fill:#DD0031;}
                        .st1{fill:#C3002F;}
                        .st2{fill:#FFFFFF;}
                      </style>
                      <g>
                        <polygon class="st0" points="12 3 12 3 12 3 3.2 6.3 4.6 18.6 12 23 12 23 12 23 20.4 18.6 21.8 6.3 12 3 "/>
                        <polygon class="st1" points="12 3 12 5.2 12 5.2 12 15.3 12 15.3 12 23 12 23 20.4 18.6 21.8 6.3 12 3 "/>
                        <path class="st2" d="M12 5.2L6.7 18.3h0h2.2h0l1.2-2.9h4.9l1.2 2.9h0h2.2h0L12 5.2L12 5.2L12 5.2L12 5.2
                          L12 5.2z M14.2 13.5H10.8l1.7-4.1L14.2 13.5z"/>
                      </g>
                    </svg>
                  </svg>
                </div>
                Angular
              </div>
              <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-1 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 30px; font-size: 12px; color: white; font-weight: 600; border: 1px solid rgb(46, 46, 64); ">
                <div class="flex h-fit w-fit items-center justify-center rounded-full px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: 42px; height: 42px;">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="text-7xl text-white" height="30" width="30">
                    <linearGradient id="iOmQfjoCC4Hw6zVwRjSDha" x1="21.861" x2="25.703" y1="8.237" y2="36.552" gradientUnits="userSpaceOnUse">
                      <stop offset="0" stop-color="#00c1e0" />
                      <stop offset="1" stop-color="#009bb8" />
                    </linearGradient>
                    <path fill="url(#iOmQfjoCC4Hw6zVwRjSDha)" d="M24,9.604c-5.589,0-9.347,2.439-11.276,7.318c-0.2,0.505,0.417,0.92,0.816,0.551 c2.035-1.882,4.322-2.505,6.86-1.871c1.826,0.456,3.131,1.781,4.576,3.247C27.328,21.236,30.051,24,36,24 c5.589,0,9.348-2.44,11.276-7.319c0.2-0.505-0.417-0.92-0.816-0.551c-2.035,1.882-4.322,2.506-6.86,1.872 c-1.825-0.456-3.13-1.781-4.575-3.247C32.672,12.367,29.948,9.604,24,9.604L24,9.604z M12,24c-5.589,0-9.348,2.44-11.276,7.319 c-0.2,0.505,0.417,0.92,0.816,0.551c2.035-1.882,4.322-2.506,6.86-1.871c1.825,0.457,3.13,1.781,4.575,3.246 c2.353,2.388,5.077,5.152,11.025,5.152c5.589,0,9.348-2.44,11.276-7.319c0.2-0.505-0.417-0.92-0.816-0.551 c-2.035,1.882-4.322,2.506-6.86,1.871c-1.826-0.456-3.131-1.781-4.576-3.246C20.672,26.764,17.949,24,12,24L12,24z" />
                  </svg>
                </div>
                Tailwind
              </div>
              <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-1 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 30px; font-size: 12px; color: white; font-weight: 600; border: 1px solid rgb(46, 46, 64); ">
                <div class="flex h-fit w-fit items-center justify-center rounded-full px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: 42px; height: 42px;">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="text-7xl text-white" height="30" width="30">
                    <rect width="36" height="36" x="6" y="6" fill="#1976d2" />
                    <polygon fill="#fff" points="27.49,22 14.227,22 14.227,25.264 18.984,25.264 18.984,40 22.753,40 22.753,25.264 27.49,25.264" />
                    <path fill="#fff" d="M39.194,26.084c0,0-1.787-1.192-3.807-1.192s-2.747,0.96-2.747,1.986 c0,2.648,7.381,2.383,7.381,7.712c0,8.209-11.254,4.568-11.254,4.568V35.22c0,0,2.152,1.622,4.733,1.622s2.483-1.688,2.483-1.92 c0-2.449-7.315-2.449-7.315-7.878c0-7.381,10.658-4.469,10.658-4.469L39.194,26.084z" />
                  </svg>
                </div>
                Typescript
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="group relative w-[90vw] cursor-pointer rounded-md border md:w-auto border-secondary-dark bg-primary-dark hover:text-white shadow-2xl hover:shadow-cyan-700">
        <div>
          <img src="assets/imgProjetos/Front/imgPortifolioAngular17.png" loading="lazy" class="z-10 h-auto w-full rounded-t-md object-cover lg:h-56">
        </div>
        <div class="rounded-b-md px-4 pt-px ">
          <div class="flex flex-col py-3">
            <h1 class="mb-2 text-xl font-semibold text-gray-300">1° Projeto Portfólio Angular</h1>
            <p class="h-18 text-sm font-medium md:h-24 text-gray-300/70">Este foi a primeira versão do meu portfólio utilizando framework Angular e Tailwind CSS + Flowbite.</p>
          </div>
          <div class="mt-2 flex flex-row gap-1 mb-4"> <div class="flex flex-col md:flex-row md:gap-1 sm:flex-row sm:gap-2">
              <div class="flex h-fit w-fit items-center justify-center rounded-2xl ml-3 px-1 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 30px; font-size: 12px; color: white; font-weight: 600; border: 1px solid rgb(46, 46, 64); ">
                <div class="flex h-fit w-fit items-center justify-center rounded-full px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: 42px; height: 42px;">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="text-7xl text-cyan-400" height="30" width="30">
                    <?xml version="1.0" encoding="utf-8"?>
                    <!-- Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 24 24" style="enable-background:new 0 0 250 250;" xml:space="preserve">
                      <style type="text/css">
                        .st0{fill:#DD0031;}
                        .st1{fill:#C3002F;}
                        .st2{fill:#FFFFFF;}
                      </style>
                      <g>
                        <polygon class="st0" points="12 3 12 3 12 3 3.2 6.3 4.6 18.6 12 23 12 23 12 23 20.4 18.6 21.8 6.3 12 3 "/>
                        <polygon class="st1" points="12 3 12 5.2 12 5.2 12 15.3 12 15.3 12 23 12 23 20.4 18.6 21.8 6.3 12 3 "/>
                        <path class="st2" d="M12 5.2L6.7 18.3h0h2.2h0l1.2-2.9h4.9l1.2 2.9h0h2.2h0L12 5.2L12 5.2L12 5.2L12 5.2
                          L12 5.2z M14.2 13.5H10.8l1.7-4.1L14.2 13.5z"/>
                      </g>
                    </svg>
                  </svg>
                </div>
                Angular
              </div>
              <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-1 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 30px; font-size: 12px; color: white; font-weight: 600; border: 1px solid rgb(46, 46, 64); ">
                <div class="flex h-fit w-fit items-center justify-center rounded-full px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: 42px; height: 42px;">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="text-7xl text-white" height="30" width="30">
                    <linearGradient id="iOmQfjoCC4Hw6zVwRjSDha" x1="21.861" x2="25.703" y1="8.237" y2="36.552" gradientUnits="userSpaceOnUse">
                      <stop offset="0" stop-color="#00c1e0" />
                      <stop offset="1" stop-color="#009bb8" />
                    </linearGradient>
                    <path fill="url(#iOmQfjoCC4Hw6zVwRjSDha)" d="M24,9.604c-5.589,0-9.347,2.439-11.276,7.318c-0.2,0.505,0.417,0.92,0.816,0.551 c2.035-1.882,4.322-2.505,6.86-1.871c1.826,0.456,3.131,1.781,4.576,3.247C27.328,21.236,30.051,24,36,24 c5.589,0,9.348-2.44,11.276-7.319c0.2-0.505-0.417-0.92-0.816-0.551c-2.035,1.882-4.322,2.506-6.86,1.872 c-1.825-0.456-3.13-1.781-4.575-3.247C32.672,12.367,29.948,9.604,24,9.604L24,9.604z M12,24c-5.589,0-9.348,2.44-11.276,7.319 c-0.2,0.505,0.417,0.92,0.816,0.551c2.035-1.882,4.322-2.506,6.86-1.871c1.825,0.457,3.13,1.781,4.575,3.246 c2.353,2.388,5.077,5.152,11.025,5.152c5.589,0,9.348-2.44,11.276-7.319c0.2-0.505-0.417-0.92-0.816-0.551 c-2.035,1.882-4.322,2.506-6.86,1.871c-1.826-0.456-3.131-1.781-4.576-3.246C20.672,26.764,17.949,24,12,24L12,24z" />
                  </svg>
                </div>
                Tailwind
              </div>
              <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-1 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 30px; font-size: 12px; color: white; font-weight: 600; border: 1px solid rgb(46, 46, 64); ">
                <div class="flex h-fit w-fit items-center justify-center rounded-full px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: 42px; height: 42px;">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="text-7xl text-white" height="30" width="30">
                    <rect width="36" height="36" x="6" y="6" fill="#1976d2" />
                    <polygon fill="#fff" points="27.49,22 14.227,22 14.227,25.264 18.984,25.264 18.984,40 22.753,40 22.753,25.264 27.49,25.264" />
                    <path fill="#fff" d="M39.194,26.084c0,0-1.787-1.192-3.807-1.192s-2.747,0.96-2.747,1.986 c0,2.648,7.381,2.383,7.381,7.712c0,8.209-11.254,4.568-11.254,4.568V35.22c0,0,2.152,1.622,4.733,1.622s2.483-1.688,2.483-1.92 c0-2.449-7.315-2.449-7.315-7.878c0-7.381,10.658-4.469,10.658-4.469L39.194,26.084z" />
                  </svg>
                </div>
                Typescript
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="group relative w-[90vw] cursor-pointer rounded-md border md:w-auto border-secondary-dark bg-primary-dark hover:text-white shadow-2xl hover:shadow-yellow-300">
        <div>
          <img src="assets/imgProjetos/Front/imgCyberpunk.png" loading="lazy" class="z-10 h-auto w-full rounded-t-md object-cover lg:h-56">
        </div>
        <div class="rounded-b-md px-4 pt-px ">
          <div class="flex flex-col py-3">
            <h1 class="mb-2 text-xl font-semibold text-gray-300">Site Cyberpunk 2077</h1>
            <p class="h-18 text-sm font-medium md:h-24 text-gray-300/70">Projeto de estudos para a criação do Site do Cyberpunk utilizando pequenas animações e backgrounds animados utilizando Tailwind CSS.</p>
          </div>
          <div class="mt-2 flex flex-row gap-1 mb-4"> <div class="flex flex-col md:flex-row md:gap-1 sm:flex-row sm:gap-2">
              <div class="flex h-fit w-fit items-center justify-center rounded-2xl ml-3 px-1 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 30px; font-size: 12px; color: white; font-weight: 600; border: 1px solid rgb(46, 46, 64); ">
                <div class="flex h-fit w-fit items-center justify-center rounded-full px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: 42px; height: 42px;">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="text-7xl text-cyan-400" height="30" width="30">
                    <?xml version="1.0" encoding="utf-8"?>
                    <!-- Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 24 24" style="enable-background:new 0 0 250 250;" xml:space="preserve">
                      <style type="text/css">
                        .st0{fill:#DD0031;}
                        .st1{fill:#C3002F;}
                        .st2{fill:#FFFFFF;}
                      </style>
                      <g>
                        <polygon class="st0" points="12 3 12 3 12 3 3.2 6.3 4.6 18.6 12 23 12 23 12 23 20.4 18.6 21.8 6.3 12 3 "/>
                        <polygon class="st1" points="12 3 12 5.2 12 5.2 12 15.3 12 15.3 12 23 12 23 20.4 18.6 21.8 6.3 12 3 "/>
                        <path class="st2" d="M12 5.2L6.7 18.3h0h2.2h0l1.2-2.9h4.9l1.2 2.9h0h2.2h0L12 5.2L12 5.2L12 5.2L12 5.2
                          L12 5.2z M14.2 13.5H10.8l1.7-4.1L14.2 13.5z"/>
                      </g>
                    </svg>
                  </svg>
                </div>
                Angular
              </div>
              <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-1 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 30px; font-size: 12px; color: white; font-weight: 600; border: 1px solid rgb(46, 46, 64); ">
                <div class="flex h-fit w-fit items-center justify-center rounded-full px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: 42px; height: 42px;">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="text-7xl text-white" height="30" width="30">
                    <linearGradient id="iOmQfjoCC4Hw6zVwRjSDha" x1="21.861" x2="25.703" y1="8.237" y2="36.552" gradientUnits="userSpaceOnUse">
                      <stop offset="0" stop-color="#00c1e0" />
                      <stop offset="1" stop-color="#009bb8" />
                    </linearGradient>
                    <path fill="url(#iOmQfjoCC4Hw6zVwRjSDha)" d="M24,9.604c-5.589,0-9.347,2.439-11.276,7.318c-0.2,0.505,0.417,0.92,0.816,0.551 c2.035-1.882,4.322-2.505,6.86-1.871c1.826,0.456,3.131,1.781,4.576,3.247C27.328,21.236,30.051,24,36,24 c5.589,0,9.348-2.44,11.276-7.319c0.2-0.505-0.417-0.92-0.816-0.551c-2.035,1.882-4.322,2.506-6.86,1.872 c-1.825-0.456-3.13-1.781-4.575-3.247C32.672,12.367,29.948,9.604,24,9.604L24,9.604z M12,24c-5.589,0-9.348,2.44-11.276,7.319 c-0.2,0.505,0.417,0.92,0.816,0.551c2.035-1.882,4.322-2.506,6.86-1.871c1.825,0.457,3.13,1.781,4.575,3.246 c2.353,2.388,5.077,5.152,11.025,5.152c5.589,0,9.348-2.44,11.276-7.319c0.2-0.505-0.417-0.92-0.816-0.551 c-2.035,1.882-4.322,2.506-6.86,1.871c-1.826-0.456-3.131-1.781-4.576-3.246C20.672,26.764,17.949,24,12,24L12,24z" />
                  </svg>
                </div>
                Tailwind
              </div>
              <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-1 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 30px; font-size: 12px; color: white; font-weight: 600; border: 1px solid rgb(46, 46, 64); ">
                <div class="flex h-fit w-fit items-center justify-center rounded-full px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: 42px; height: 42px;">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="text-7xl text-white" height="30" width="30">
                    <rect width="36" height="36" x="6" y="6" fill="#1976d2" />
                    <polygon fill="#fff" points="27.49,22 14.227,22 14.227,25.264 18.984,25.264 18.984,40 22.753,40 22.753,25.264 27.49,25.264" />
                    <path fill="#fff" d="M39.194,26.084c0,0-1.787-1.192-3.807-1.192s-2.747,0.96-2.747,1.986 c0,2.648,7.381,2.383,7.381,7.712c0,8.209-11.254,4.568-11.254,4.568V35.22c0,0,2.152,1.622,4.733,1.622s2.483-1.688,2.483-1.92 c0-2.449-7.315-2.449-7.315-7.878c0-7.381,10.658-4.469,10.658-4.469L39.194,26.084z" />
                  </svg>
                </div>
                Typescript
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="group relative w-[90vw] cursor-pointer rounded-md border md:w-auto border-secondary-dark bg-primary-dark hover:text-white shadow-2xl hover:shadow-amber-700">
        <div>
          <img src="assets/imgProjetos/Front/imgMelhoresFilmes.png" loading="lazy" class="z-10 h-auto w-full rounded-t-md object-cover lg:h-56">
        </div>
        <div class="rounded-b-md px-4 pt-px ">
          <div class="flex flex-col py-3">
            <h1 class="mb-2 text-xl font-semibold text-gray-300">Projeto CineVerse com os meus filmes favoritos </h1>
            <p class="h-18 text-sm font-medium md:h-24 text-gray-300/70">Projeto de estudos utilizando HTML5 + Bootstrap e CSS como estilização.</p>
          </div>
          <div class="mt-2 flex flex-row gap-1 mb-4 sm:flex-row sm:gap-2">
            <div class="flex flex-col md:flex-row md:gap-1 sm:flex-row sm:gap-2">
              <div class="flex h-fit w-fit items-center justify-center rounded-2xl ml-3 px-1 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 30px; font-size: 12px; color: white; font-weight: 600; border: 1px solid rgb(46, 46, 64); ">
                <div class="flex h-fit w-fit items-center justify-center rounded-full px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: 42px; height: 42px;">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="text-7xl text-white" height="30" width="30">
                    <path fill="#E65100" d="M41,5H7l3,34l14,4l14-4L41,5L41,5z" />
                    <path fill="#FF6D00" d="M24 8L24 39.9 35.2 36.7 37.7 8z" />
                    <path fill="#FFF" d="M24,25v-4h8.6l-0.7,11.5L24,35.1v-4.2l4.1-1.4l0.3-4.5H24z M32.9,17l0.3-4H24v4H32.9z" />
                    <path fill="#EEE" d="M24,30.9v4.2l-7.9-2.6L15.7,27h4l0.2,2.5L24,30.9z M19.1,17H24v-4h-9.1l0.7,12H24v-4h-4.6L19.1,17z" />
                  </svg>
                </div>
                HTML5
              </div>
              <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-1 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 30px; font-size: 12px; color: white; font-weight: 600; border: 1px solid rgb(46, 46, 64); ">
                <div class="flex h-fit w-fit items-center justify-center rounded-full px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: 42px; height: 42px;">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="text-7xl text-white" height="30" width="30">
                    <linearGradient id="TQDriqswrKwPOniLrPT12a" x1="16.33" x2="32.293" y1="-2.748" y2="41.109" gradientUnits="userSpaceOnUse">
                      <stop offset="0" stop-color="#2aa4f4" />
                      <stop offset="1" stop-color="#007ad9" />
                    </linearGradient>
                    <path fill="url(#TQDriqswrKwPOniLrPT12a)" d="M7.192,7.176l2.627,29.77c0.109,1.237,0.97,2.28,2.164,2.621l10.643,3.041	c0.898,0.257,1.849,0.257,2.747,0l10.643-3.041c1.194-0.341,2.055-1.383,2.164-2.621l2.627-29.77C40.911,6.006,39.99,5,38.816,5	H9.184C8.01,5,7.089,6.006,7.192,7.176z" />
                    <path fill="#35c1f1" d="M24,8v31.9l9.876-2.822c0.797-0.228,1.371-0.924,1.443-1.749l2.286-26.242	C37.656,8.502,37.196,8,36.609,8H24z" />
                    <path fill="#fff" d="M33.1,13H24v4h4.9l-0.3,4H24v4h4.4l-0.3,4.5L24,30.9v4.2l7.9-2.6L32.6,21l0,0L33.1,13z" />
                    <path fill="#d6e0e9" d="M24,13v4h-8.9l-0.3-4H24z M19.4,21l0.2,4H24v-4H19.4z M19.8,27h-4l0.3,5.5l7.9,2.6v-4.2l-4.1-1.4	L19.8,27z" />
                    <path d="M33.1,13l-0.5,8l-0.7,11.5L24,35.1l-7.9-2.6L15.8,27h4l0.1,2.5l4.1,1.4l4.1-1.4l0.3-4.5H24h-4.4l-0.2-4H24h4.6l0.3-4H24 h-8.9l-0.3-4H24H33.1 M34.164,12H33.1H24h-9.2h-1.078l0.081,1.075l0.3,4L14.172,18H15.1H24h3.822l-0.15,2H24h-4.6h-1.051 l0.052,1.05l0.2,4L18.649,26H15.8h-1.056l0.058,1.054l0.3,5.5l0.037,0.682l0.649,0.214l7.9,2.6L24,36.153l0.313-0.103l7.9-2.6 l0.644-0.212l0.041-0.677l0.7-11.5l0.5-7.998L34.164,12L34.164,12z M20.761,26H24h3.331l-0.185,2.769L24,29.843l-3.128-1.068 l-0.073-1.815L20.761,26L20.761,26z" opacity=".05" />
                    <path d="M33.1,13l-0.5,8l-0.7,11.5L24,35.1l-7.9-2.6L15.8,27h4l0.1,2.5l4.1,1.4l4.1-1.4l0.3-4.5H24h-4.4l-0.2-4H24h4.6l0.3-4H24 h-8.9l-0.3-4H24H33.1 M33.632,12.5H33.1H24h-9.2h-0.539l0.04,0.537l0.3,4l0.035,0.463H15.1H24h4.361l-0.225,3H24h-4.6h-0.526 l0.026,0.525l0.2,4l0.024,0.475H19.6H24h3.866l-0.242,3.634L24,30.372l-3.614-1.234L20.3,26.98L20.28,26.5H19.8h-4h-0.528 l0.029,0.527l0.3,5.5l0.019,0.341l0.324,0.107l7.9,2.6L24,35.626l0.156-0.051l7.9-2.6l0.322-0.106l0.021-0.339l0.7-11.5l0.5-7.999 L33.632,12.5L33.632,12.5z" opacity=".07" />
                  </svg>
                </div>
                CSS3
              </div>
              <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-1 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 30px; font-size: 12px; color: white; font-weight: 600; border: 1px solid rgb(46, 46, 64); ">
                <div class="flex h-fit w-fit items-center justify-center rounded-full px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: 42px; height: 42px;">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="text-7xl text-white" height="30" width="30">
                    <linearGradient id="Q_pn21O5LDDqwJlze0Upoa" x1="24" x2="24" y1="41" y2="7" gradientUnits="userSpaceOnUse">
                      <stop offset="0" stop-color="#643499" />
                      <stop offset=".011" stop-color="#68369f" />
                      <stop offset=".135" stop-color="#773db6" />
                      <stop offset=".193" stop-color="#8042c3" />
                      <stop offset=".248" stop-color="#8343c8" />
                      <stop offset=".388" stop-color="#8444c9" />
                      <stop offset=".732" stop-color="#9751d2" />
                      <stop offset=".997" stop-color="#9c55d4" />
                      <stop offset=".998" stop-color="#9c55d4" />
                      <stop offset="1" stop-color="#9c55d4" />
                    </linearGradient>
                    <path fill="url(#Q_pn21O5LDDqwJlze0Upoa)" d="M7.373,11.443C7.293,9.132,9.094,7,11.529,7h24.946c2.435,0,4.236,2.132,4.155,4.443	c-0.077,2.221,0.023,5.097,0.747,7.443c0.681,2.207,1.801,3.652,3.593,3.981c0.206,0.038,0.363,0.205,0.363,0.415v1.438	c0,0.21-0.157,0.377-0.363,0.415c-1.792,0.328-2.912,1.773-3.593,3.981c-0.724,2.345-0.824,5.222-0.747,7.443	C40.71,38.868,38.909,41,36.475,41H11.529c-2.434,0-4.236-2.132-4.155-4.443c0.077-2.221-0.023-5.097-0.747-7.443	c-0.681-2.207-1.804-3.652-3.596-3.981c-0.206-0.038-0.363-0.205-0.363-0.415v-1.438c0-0.21,0.157-0.377,0.363-0.415	c1.792-0.328,2.915-1.773,3.596-3.981C7.35,16.54,7.451,13.664,7.373,11.443z" />
                    <path fill="#fff" d="M27.073,23.464v-0.028c1.853-0.32,3.299-2.057,3.299-3.97c0-1.352-0.52-2.498-1.504-3.312	c-0.981-0.812-2.357-1.241-3.981-1.241H17.45V33.08h7.475c1.942,0,3.555-0.474,4.663-1.372c1.109-0.899,1.696-2.207,1.696-3.783	C31.283,25.544,29.593,23.756,27.073,23.464z M23.59,22.608h-3.181V17.29h3.784c2.076,0,3.219,0.911,3.219,2.565	C27.413,21.63,26.055,22.608,23.59,22.608z M20.409,24.834h3.759c2.716,0,4.092,0.981,4.092,2.916c0,1.932-1.357,2.953-3.925,2.953	h-3.926V24.834z" />
                  </svg>
                </div>
                Bootstrap
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="group relative w-[90vw] cursor-pointer rounded-md border md:w-auto border-secondary-dark bg-primary-dark hover:text-white shadow-2xl hover:shadow-blue-800">
        <div>
          <img src="assets/imgProjetos/Back/imgJavaZap.png" loading="lazy" class="z-10 h-auto w-full rounded-t-md object-cover lg:h-56">
        </div>
        <div class="rounded-b-md px-4 pt-px ">

          <div class="flex flex-col py-3">
            <h1 class="mb-2 text-xl font-semibold text-gray-300">upload.ai</h1>
            <p class="h-18 text-sm font-medium md:h-24 text-gray-300/70">Integrations with artificial intelligence to improve content and help users.</p>
          </div>
          <div class="mt-2 flex flex-row gap-1 mb-4 sm:flex-row sm:gap-2">
            <div class="flex flex-col md:flex-row md:gap-1 sm:flex-row sm:gap-2">
              <div class="flex h-fit w-fit items-center justify-center rounded-2xl ml-3 px-1 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 30px; font-size: 12px; color: white; font-weight: 600; border: 1px solid rgb(46, 46, 64); ">
                <div class="flex h-fit w-fit items-center justify-center rounded-full px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: 42px; height: 42px;">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="text-7xl text-white" height="30" width="30">
                    <path fill="#E65100" d="M41,5H7l3,34l14,4l14-4L41,5L41,5z" />
                    <path fill="#FF6D00" d="M24 8L24 39.9 35.2 36.7 37.7 8z" />
                    <path fill="#FFF" d="M24,25v-4h8.6l-0.7,11.5L24,35.1v-4.2l4.1-1.4l0.3-4.5H24z M32.9,17l0.3-4H24v4H32.9z" />
                    <path fill="#EEE" d="M24,30.9v4.2l-7.9-2.6L15.7,27h4l0.2,2.5L24,30.9z M19.1,17H24v-4h-9.1l0.7,12H24v-4h-4.6L19.1,17z" />
                  </svg>
                </div>
                HTML5
              </div>
              <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-1 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 30px; font-size: 12px; color: white; font-weight: 600; border: 1px solid rgb(46, 46, 64); ">
                <div class="flex h-fit w-fit items-center justify-center rounded-full px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: 42px; height: 42px;">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="text-7xl text-white" height="30" width="30">
                    <linearGradient id="TQDriqswrKwPOniLrPT12a" x1="16.33" x2="32.293" y1="-2.748" y2="41.109" gradientUnits="userSpaceOnUse">
                      <stop offset="0" stop-color="#2aa4f4" />
                      <stop offset="1" stop-color="#007ad9" />
                    </linearGradient>
                    <path fill="url(#TQDriqswrKwPOniLrPT12a)" d="M7.192,7.176l2.627,29.77c0.109,1.237,0.97,2.28,2.164,2.621l10.643,3.041	c0.898,0.257,1.849,0.257,2.747,0l10.643-3.041c1.194-0.341,2.055-1.383,2.164-2.621l2.627-29.77C40.911,6.006,39.99,5,38.816,5	H9.184C8.01,5,7.089,6.006,7.192,7.176z" />
                    <path fill="#35c1f1" d="M24,8v31.9l9.876-2.822c0.797-0.228,1.371-0.924,1.443-1.749l2.286-26.242	C37.656,8.502,37.196,8,36.609,8H24z" />
                    <path fill="#fff" d="M33.1,13H24v4h4.9l-0.3,4H24v4h4.4l-0.3,4.5L24,30.9v4.2l7.9-2.6L32.6,21l0,0L33.1,13z" />
                    <path fill="#d6e0e9" d="M24,13v4h-8.9l-0.3-4H24z M19.4,21l0.2,4H24v-4H19.4z M19.8,27h-4l0.3,5.5l7.9,2.6v-4.2l-4.1-1.4	L19.8,27z" />
                    <path d="M33.1,13l-0.5,8l-0.7,11.5L24,35.1l-7.9-2.6L15.8,27h4l0.1,2.5l4.1,1.4l4.1-1.4l0.3-4.5H24h-4.4l-0.2-4H24h4.6l0.3-4H24 h-8.9l-0.3-4H24H33.1 M34.164,12H33.1H24h-9.2h-1.078l0.081,1.075l0.3,4L14.172,18H15.1H24h3.822l-0.15,2H24h-4.6h-1.051 l0.052,1.05l0.2,4L18.649,26H15.8h-1.056l0.058,1.054l0.3,5.5l0.037,0.682l0.649,0.214l7.9,2.6L24,36.153l0.313-0.103l7.9-2.6 l0.644-0.212l0.041-0.677l0.7-11.5l0.5-7.998L34.164,12L34.164,12z M20.761,26H24h3.331l-0.185,2.769L24,29.843l-3.128-1.068 l-0.073-1.815L20.761,26L20.761,26z" opacity=".05" />
                    <path d="M33.1,13l-0.5,8l-0.7,11.5L24,35.1l-7.9-2.6L15.8,27h4l0.1,2.5l4.1,1.4l4.1-1.4l0.3-4.5H24h-4.4l-0.2-4H24h4.6l0.3-4H24 h-8.9l-0.3-4H24H33.1 M33.632,12.5H33.1H24h-9.2h-0.539l0.04,0.537l0.3,4l0.035,0.463H15.1H24h4.361l-0.225,3H24h-4.6h-0.526 l0.026,0.525l0.2,4l0.024,0.475H19.6H24h3.866l-0.242,3.634L24,30.372l-3.614-1.234L20.3,26.98L20.28,26.5H19.8h-4h-0.528 l0.029,0.527l0.3,5.5l0.019,0.341l0.324,0.107l7.9,2.6L24,35.626l0.156-0.051l7.9-2.6l0.322-0.106l0.021-0.339l0.7-11.5l0.5-7.999 L33.632,12.5L33.632,12.5z" opacity=".07" />
                  </svg>
                </div>
                CSS3
              </div>
              <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-1 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 30px; font-size: 12px; color: white; font-weight: 600; border: 1px solid rgb(46, 46, 64); ">
                <div class="flex h-fit w-fit items-center justify-center rounded-full px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: 42px; height: 42px;">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="text-7xl text-white" height="30" width="30">
                    <linearGradient id="Q_pn21O5LDDqwJlze0Upoa" x1="24" x2="24" y1="41" y2="7" gradientUnits="userSpaceOnUse">
                      <stop offset="0" stop-color="#643499" />
                      <stop offset=".011" stop-color="#68369f" />
                      <stop offset=".135" stop-color="#773db6" />
                      <stop offset=".193" stop-color="#8042c3" />
                      <stop offset=".248" stop-color="#8343c8" />
                      <stop offset=".388" stop-color="#8444c9" />
                      <stop offset=".732" stop-color="#9751d2" />
                      <stop offset=".997" stop-color="#9c55d4" />
                      <stop offset=".998" stop-color="#9c55d4" />
                      <stop offset="1" stop-color="#9c55d4" />
                    </linearGradient>
                    <path fill="url(#Q_pn21O5LDDqwJlze0Upoa)" d="M7.373,11.443C7.293,9.132,9.094,7,11.529,7h24.946c2.435,0,4.236,2.132,4.155,4.443	c-0.077,2.221,0.023,5.097,0.747,7.443c0.681,2.207,1.801,3.652,3.593,3.981c0.206,0.038,0.363,0.205,0.363,0.415v1.438	c0,0.21-0.157,0.377-0.363,0.415c-1.792,0.328-2.912,1.773-3.593,3.981c-0.724,2.345-0.824,5.222-0.747,7.443	C40.71,38.868,38.909,41,36.475,41H11.529c-2.434,0-4.236-2.132-4.155-4.443c0.077-2.221-0.023-5.097-0.747-7.443	c-0.681-2.207-1.804-3.652-3.596-3.981c-0.206-0.038-0.363-0.205-0.363-0.415v-1.438c0-0.21,0.157-0.377,0.363-0.415	c1.792-0.328,2.915-1.773,3.596-3.981C7.35,16.54,7.451,13.664,7.373,11.443z" />
                    <path fill="#fff" d="M27.073,23.464v-0.028c1.853-0.32,3.299-2.057,3.299-3.97c0-1.352-0.52-2.498-1.504-3.312	c-0.981-0.812-2.357-1.241-3.981-1.241H17.45V33.08h7.475c1.942,0,3.555-0.474,4.663-1.372c1.109-0.899,1.696-2.207,1.696-3.783	C31.283,25.544,29.593,23.756,27.073,23.464z M23.59,22.608h-3.181V17.29h3.784c2.076,0,3.219,0.911,3.219,2.565	C27.413,21.63,26.055,22.608,23.59,22.608z M20.409,24.834h3.759c2.716,0,4.092,0.981,4.092,2.916c0,1.932-1.357,2.953-3.925,2.953	h-3.926V24.834z" />
                  </svg>
                </div>
                Bootstrap
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="group relative w-[90vw] cursor-pointer rounded-md border md:w-auto border-secondary-dark bg-primary-dark hover:text-white shadow-2xl hover:shadow-emerald-500">
        <div>
          <img src="assets/imgProjetos/Back/imgContatoJava.png" loading="lazy" class="z-10 h-auto w-full rounded-t-md object-cover lg:h-56">
        </div>
        <div class="rounded-b-md px-4 pt-px ">

          <div class="flex flex-col py-3">
            <h1 class="mb-2 text-xl font-semibold text-gray-300">upload.ai</h1>
            <p class="h-18 text-sm font-medium md:h-24 text-gray-300/70">Integrations with artificial intelligence to improve content and help users.</p>
          </div>
          <div class="mt-2 flex flex-row flex-wrap gap-1">
            <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 20px; font-size: 11px; color: rgb(255, 255, 255); font-weight: 600; border: 1px solid rgb(46, 46, 64);">React.js</div>
            <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 20px; font-size: 11px; color: rgb(255, 255, 255); font-weight: 600; border: 1px solid rgb(46, 46, 64);">TypeScript</div>
            <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 20px; font-size: 11px; color: rgb(255, 255, 255); font-weight: 600; border: 1px solid rgb(46, 46, 64);">Open AI API</div>
            <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 20px; font-size: 11px; color: rgb(255, 255, 255); font-weight: 600; border: 1px solid rgb(46, 46, 64);">Node.js</div>
          </div>
        </div>
      </div>
      <div class="group relative w-[90vw] cursor-pointer rounded-md border md:w-auto border-secondary-dark bg-primary-dark hover:text-white shadow-2xl hover:shadow-pink-900">
        <div>
          <img src="assets/imgProjetos/Back/imgSistemaAcademico.png" loading="lazy" class="z-10 h-auto w-full rounded-t-md object-cover lg:h-56">
        </div>
        <div class="rounded-b-md px-4 pt-px ">

          <div class="flex flex-col py-3">
            <h1 class="mb-2 text-xl font-semibold text-gray-300">upload.ai</h1>
            <p class="h-18 text-sm font-medium md:h-24 text-gray-300/70">Integrations with artificial intelligence to improve content and help users.</p>
          </div>
          <div class="mt-2 flex flex-row flex-wrap gap-1">
            <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 20px; font-size: 11px; color: rgb(255, 255, 255); font-weight: 600; border: 1px solid rgb(46, 46, 64);">React.js</div>
            <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 20px; font-size: 11px; color: rgb(255, 255, 255); font-weight: 600; border: 1px solid rgb(46, 46, 64);">TypeScript</div>
            <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 20px; font-size: 11px; color: rgb(255, 255, 255); font-weight: 600; border: 1px solid rgb(46, 46, 64);">Open AI API</div>
            <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 20px; font-size: 11px; color: rgb(255, 255, 255); font-weight: 600; border: 1px solid rgb(46, 46, 64);">Node.js</div>
          </div>
        </div>
      </div>
      <div class="group relative w-[90vw] cursor-pointer rounded-md border md:w-auto border-secondary-dark bg-primary-dark hover:text-white shadow-2xl hover:shadow-orange-600">
        <div>
          <img src="assets/imgProjetos/Back/imgJavaRock2.png" loading="lazy" class="z-10 h-auto w-full rounded-t-md object-cover lg:h-56">
        </div>
        <div class="rounded-b-md px-4 pt-px ">

          <div class="flex flex-col py-3">
            <h1 class="mb-2 text-xl font-semibold text-gray-300">upload.ai</h1>
            <p class="h-18 text-sm font-medium md:h-24 text-gray-300/70">Integrations with artificial intelligence to improve content and help users.</p>
          </div>
          <div class="mt-2 flex flex-row flex-wrap gap-1">
            <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 20px; font-size: 11px; color: rgb(255, 255, 255); font-weight: 600; border: 1px solid rgb(46, 46, 64);">React.js</div>
            <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 20px; font-size: 11px; color: rgb(255, 255, 255); font-weight: 600; border: 1px solid rgb(46, 46, 64);">TypeScript</div>
            <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 20px; font-size: 11px; color: rgb(255, 255, 255); font-weight: 600; border: 1px solid rgb(46, 46, 64);">Open AI API</div>
            <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 20px; font-size: 11px; color: rgb(255, 255, 255); font-weight: 600; border: 1px solid rgb(46, 46, 64);">Node.js</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
