<section class="max-w-full bg-gradient-to-r from-black via-[#010607] to-black pt-10">
  <div>
    <h1 class="my-20 text-center text-4xl text-white pb-24 pt-20" style="margin: 0;">Projetos</h1>

  </div>
  <div class="text-cyan-300 lg:text-right text-center lg:mr-52">
    <a href="https://github.com/mathrocks19?page=1&tab=repositories" class="text-cyan-300 hover:underline">
      Ver mais projetos (BackEnd)
    </a>
  </div>


  <div class="container mx-auto px-2   ">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 p-3">
      <div class="group relative w-[90vw] cursor-pointer rounded-md border md:w-auto border-secondary-dark bg-primary-dark hover:text-white shadow-2xl hover:shadow-purple-900">
        <div>
          <img src="assets/imgProjetos/Front/imgHtmlSimples.png" loading="lazy" class="z-10 h-auto w-full rounded-t-md object-cover lg:h-56">
        </div>
        <div class="rounded-b-md px-4 pt-px ">
          <div class="flex flex-col py-3">
            <h1 class="mb-2 text-xl font-semibold text-gray-300">HTML E CSS Simples</h1>
            <p class="h-18 text-sm font-medium md:h-24 text-gray-300/70">Este foi o meu primeiro site feito em HTML E CSS, contento apenas uma página inicial com uma introdução sobre o projeto  </p>
          </div>
          <div class="mt-2 flex flex-row flex-wrap gap-1">
            <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 20px; font-size: 11px; color: rgb(255, 255, 255); font-weight: 600; border: 1px solid rgb(46, 46, 64);">Next.js</div>
            <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 20px; font-size: 11px; color: rgb(255, 255, 255); font-weight: 600; border: 1px solid rgb(46, 46, 64);">TypeScript</div>
            <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 20px; font-size: 11px; color: rgb(255, 255, 255); font-weight: 600; border: 1px solid rgb(46, 46, 64);">Figma</div>
            <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 20px; font-size: 11px; color: rgb(255, 255, 255); font-weight: 600; border: 1px solid rgb(46, 46, 64);">Prisma</div>
            <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 20px; font-size: 11px; color: rgb(255, 255, 255); font-weight: 600; border: 1px solid rgb(46, 46, 64);">SQL</div>
          </div>
        </div>
      </div>
      <!-- Repeat the card structure for each project -->
      <div class="group relative w-[90vw] cursor-pointer rounded-md border md:w-auto border-secondary-dark bg-primary-dark hover:text-white shadow-2xl hover:shadow-red-600">
        <div>
          <img src="assets/imgProjetos/Front/imgSiteNetflix.png" loading="lazy" class="z-10 h-auto w-full rounded-t-md object-cover lg:h-56">
        </div>
        <div class="rounded-b-md px-4 pt-px ">
          <div class="flex flex-col py-3">
            <h1 class="mb-2 text-xl font-semibold text-gray-300">Site Netflix com a Série Wednesday</h1>
            <p class="h-18 text-sm font-medium md:h-24 text-gray-300/70">Projeto de Estudos para a criação do site Netflix usando framework Angular e Tailwind CSS + Flowbite.</p>
          </div>
        </div>
        <div class="mt-2 flex flex-row flex-wrap gap-1">
          <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 20px; font-size: 11px; color: rgb(255, 255, 255); font-weight: 600; border: 1px solid rgb(46, 46, 64);">Next.js</div>
          <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 20px; font-size: 11px; color: rgb(255, 255, 255); font-weight: 600; border: 1px solid rgb(46, 46, 64);">TypeScript</div>
          <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 20px; font-size: 11px; color: rgb(255, 255, 255); font-weight: 600; border: 1px solid rgb(46, 46, 64);">Figma</div>
          <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 20px; font-size: 11px; color: rgb(255, 255, 255); font-weight: 600; border: 1px solid rgb(46, 46, 64);">Prisma</div>
          <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 20px; font-size: 11px; color: rgb(255, 255, 255); font-weight: 600; border: 1px solid rgb(46, 46, 64);">SQL</div>
        </div>
      </div>

      <div class="group relative w-[90vw] cursor-pointer rounded-md border md:w-auto border-secondary-dark bg-primary-dark hover:text-white shadow-2xl hover:shadow-cyan-700">
        <div>
          <img src="assets/imgProjetos/Front/imgPortifolioAngular17.png" loading="lazy" class="z-10 h-auto w-full rounded-t-md object-cover lg:h-56">
        </div>
        <div class="rounded-b-md px-4 pt-px ">
          <div class="flex flex-col py-3">
            <h1 class="mb-2 text-xl font-semibold text-gray-300">1° Portfólio Angular usando Angular 17 + Tailwind CSS</h1>
            <p class="h-18 text-sm font-medium md:h-24 text-gray-300/70">Este foi um projeto de portfólio pessoal, com todos os projetos e códigos que desenvolvi até o momento. </p>
          </div>
          <div class="mt-2 flex flex-row flex-wrap gap-1">
            <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 20px; font-size: 11px; color: rgb(255, 255, 255); font-weight: 600; border: 1px solid rgb(46, 46, 64);">Next.js</div>
            <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 20px; font-size: 11px; color: rgb(255, 255, 255); font-weight: 600; border: 1px solid rgb(46, 46, 64);">TypeScript</div>
            <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 20px; font-size: 11px; color: rgb(255, 255, 255); font-weight: 600; border: 1px solid rgb(46, 46, 64);">Figma</div>
            <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 20px; font-size: 11px; color: rgb(255, 255, 255); font-weight: 600; border: 1px solid rgb(46, 46, 64);">Prisma</div>
            <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 20px; font-size: 11px; color: rgb(255, 255, 255); font-weight: 600; border: 1px solid rgb(46, 46, 64);">SQL</div>
          </div>
        </div>
      </div>

      <div class="group relative w-[90vw] cursor-pointer rounded-md border md:w-auto border-secondary-dark bg-primary-dark hover:text-white shadow-2xl hover:shadow-yellow-300">
        <div>
          <img src="assets/imgProjetos/Front/imgCyberpunk.png" loading="lazy" class="z-10 h-auto w-full rounded-t-md object-cover lg:h-56">
        </div>
        <div class="rounded-b-md px-4 pt-px ">
          <div class="flex flex-col py-3">
            <h1 class="mb-2 text-xl font-semibold text-gray-300">Sharpcutz</h1>
            <p class="h-18 text-sm font-medium md:h-24 text-gray-300/70">Application made for multiple barbershops, where the user can log in with Google and schedule a service from the desired barbershop.</p>
          </div>
          <div class="mt-2 flex flex-row flex-wrap gap-1">
            <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 20px; font-size: 11px; color: rgb(255, 255, 255); font-weight: 600; border: 1px solid rgb(46, 46, 64);">Next.js</div>
            <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 20px; font-size: 11px; color: rgb(255, 255, 255); font-weight: 600; border: 1px solid rgb(46, 46, 64);">TypeScript</div>
            <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 20px; font-size: 11px; color: rgb(255, 255, 255); font-weight: 600; border: 1px solid rgb(46, 46, 64);">Figma</div>
            <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 20px; font-size: 11px; color: rgb(255, 255, 255); font-weight: 600; border: 1px solid rgb(46, 46, 64);">Prisma</div>
            <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 20px; font-size: 11px; color: rgb(255, 255, 255); font-weight: 600; border: 1px solid rgb(46, 46, 64);">SQL</div>
          </div>
        </div>
      </div>

      <div class="group relative w-[90vw] cursor-pointer rounded-md border md:w-auto border-secondary-dark bg-primary-dark hover:text-white shadow-2xl hover:shadow-amber-800">
        <div>
          <img src="assets/imgProjetos/Front/imgMelhoresFilmes.png" loading="lazy" class="z-10 h-auto w-full rounded-t-md object-cover lg:h-56">
        </div>
        <div class="rounded-b-md px-4 pt-px ">
          <div class="flex flex-col py-3">
            <h1 class="mb-2 text-xl font-semibold text-gray-300">Chat Now</h1>
            <p class="h-18 text-sm font-medium md:h-24 text-gray-300/70">Chat application where you can send friend requests, create groups, chat, remove and leave groups, and chat in real time.</p>
          </div>
          <div class="mt-2 flex flex-row flex-wrap gap-1">
            <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 20px; font-size: 11px; color: rgb(255, 255, 255); font-weight: 600; border: 1px solid rgb(46, 46, 64);">Next.js</div>
            <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 20px; font-size: 11px; color: rgb(255, 255, 255); font-weight: 600; border: 1px solid rgb(46, 46, 64);">TypeScript</div>
            <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 20px; font-size: 11px; color: rgb(255, 255, 255); font-weight: 600; border: 1px solid rgb(46, 46, 64);">Convex</div>
            <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 20px; font-size: 11px; color: rgb(255, 255, 255); font-weight: 600; border: 1px solid rgb(46, 46, 64);">Clerk</div>
          </div>
        </div>
      </div>

      <div class="group relative w-[90vw] cursor-pointer rounded-md border md:w-auto border-secondary-dark bg-primary-dark hover:text-white shadow-2xl hover:shadow-blue-800">
        <div>
          <img src="assets/imgProjetos/Back/imgJavaZap.png" loading="lazy" class="z-10 h-auto w-full rounded-t-md object-cover lg:h-56">
        </div>
        <div class="rounded-b-md px-4 pt-px ">

          <div class="flex flex-col py-3">
            <h1 class="mb-2 text-xl font-semibold text-gray-300">upload.ai</h1>
            <p class="h-18 text-sm font-medium md:h-24 text-gray-300/70">Integrations with artificial intelligence to improve content and help users.</p>
          </div>
          <div class="mt-2 flex flex-row flex-wrap gap-1">
            <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 20px; font-size: 11px; color: rgb(255, 255, 255); font-weight: 600; border: 1px solid rgb(46, 46, 64);">React.js</div>
            <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 20px; font-size: 11px; color: rgb(255, 255, 255); font-weight: 600; border: 1px solid rgb(46, 46, 64);">TypeScript</div>
            <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 20px; font-size: 11px; color: rgb(255, 255, 255); font-weight: 600; border: 1px solid rgb(46, 46, 64);">Open AI API</div>
            <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 20px; font-size: 11px; color: rgb(255, 255, 255); font-weight: 600; border: 1px solid rgb(46, 46, 64);">Node.js</div>
          </div>
        </div>
      </div>
      <div class="group relative w-[90vw] cursor-pointer rounded-md border md:w-auto border-secondary-dark bg-primary-dark hover:text-white shadow-2xl hover:shadow-emerald-500">
        <div>
          <img src="assets/imgProjetos/Back/imgContatoJava.png" loading="lazy" class="z-10 h-auto w-full rounded-t-md object-cover lg:h-56">
        </div>
        <div class="rounded-b-md px-4 pt-px ">

          <div class="flex flex-col py-3">
            <h1 class="mb-2 text-xl font-semibold text-gray-300">upload.ai</h1>
            <p class="h-18 text-sm font-medium md:h-24 text-gray-300/70">Integrations with artificial intelligence to improve content and help users.</p>
          </div>
          <div class="mt-2 flex flex-row flex-wrap gap-1">
            <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 20px; font-size: 11px; color: rgb(255, 255, 255); font-weight: 600; border: 1px solid rgb(46, 46, 64);">React.js</div>
            <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 20px; font-size: 11px; color: rgb(255, 255, 255); font-weight: 600; border: 1px solid rgb(46, 46, 64);">TypeScript</div>
            <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 20px; font-size: 11px; color: rgb(255, 255, 255); font-weight: 600; border: 1px solid rgb(46, 46, 64);">Open AI API</div>
            <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 20px; font-size: 11px; color: rgb(255, 255, 255); font-weight: 600; border: 1px solid rgb(46, 46, 64);">Node.js</div>
          </div>
        </div>
      </div>
      <div class="group relative w-[90vw] cursor-pointer rounded-md border md:w-auto border-secondary-dark bg-primary-dark hover:text-white shadow-2xl hover:shadow-pink-900">
        <div>
          <img src="assets/imgProjetos/Back/imgSistemaAcademico.png" loading="lazy" class="z-10 h-auto w-full rounded-t-md object-cover lg:h-56">
        </div>
        <div class="rounded-b-md px-4 pt-px ">

          <div class="flex flex-col py-3">
            <h1 class="mb-2 text-xl font-semibold text-gray-300">upload.ai</h1>
            <p class="h-18 text-sm font-medium md:h-24 text-gray-300/70">Integrations with artificial intelligence to improve content and help users.</p>
          </div>
          <div class="mt-2 flex flex-row flex-wrap gap-1">
            <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 20px; font-size: 11px; color: rgb(255, 255, 255); font-weight: 600; border: 1px solid rgb(46, 46, 64);">React.js</div>
            <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 20px; font-size: 11px; color: rgb(255, 255, 255); font-weight: 600; border: 1px solid rgb(46, 46, 64);">TypeScript</div>
            <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 20px; font-size: 11px; color: rgb(255, 255, 255); font-weight: 600; border: 1px solid rgb(46, 46, 64);">Open AI API</div>
            <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 20px; font-size: 11px; color: rgb(255, 255, 255); font-weight: 600; border: 1px solid rgb(46, 46, 64);">Node.js</div>
          </div>
        </div>
      </div>
      <div class="group relative w-[90vw] cursor-pointer rounded-md border md:w-auto border-secondary-dark bg-primary-dark hover:text-white shadow-2xl hover:shadow-orange-600">
        <div>
          <img src="assets/imgProjetos/Back/imgJavaRock2.png" loading="lazy" class="z-10 h-auto w-full rounded-t-md object-cover lg:h-56">
        </div>
        <div class="rounded-b-md px-4 pt-px ">

          <div class="flex flex-col py-3">
            <h1 class="mb-2 text-xl font-semibold text-gray-300">upload.ai</h1>
            <p class="h-18 text-sm font-medium md:h-24 text-gray-300/70">Integrations with artificial intelligence to improve content and help users.</p>
          </div>
          <div class="mt-2 flex flex-row flex-wrap gap-1">
            <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 20px; font-size: 11px; color: rgb(255, 255, 255); font-weight: 600; border: 1px solid rgb(46, 46, 64);">React.js</div>
            <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 20px; font-size: 11px; color: rgb(255, 255, 255); font-weight: 600; border: 1px solid rgb(46, 46, 64);">TypeScript</div>
            <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 20px; font-size: 11px; color: rgb(255, 255, 255); font-weight: 600; border: 1px solid rgb(46, 46, 64);">Open AI API</div>
            <div class="flex h-fit w-fit items-center justify-center rounded-2xl px-2 py-1 text-sm font-bold text-white transition-all hover:scale-105" style="width: auto; height: 20px; font-size: 11px; color: rgb(255, 255, 255); font-weight: 600; border: 1px solid rgb(46, 46, 64);">Node.js</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
