@tailwind base;
@tailwind components;
@tailwind utilities;


/* Usar um cursor personalizado */
body{
  cursor: url('assets/cursor/cursorps5.cur'), auto;
}

:root {
  --scrollbar-track-color: rgb(0, 0, 0); /* Fundo totalmente transparente */
  --scrollbar-thumb-color: #BA1C24; /* Cor do "thumb" */
}

::-webkit-scrollbar {
  width: 10px; /* Largura do scrollbar */

}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color);
  border-radius: 10px; /* Arredondamento dos cantos */
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border-radius: 10px; /* Arredondamento dos cantos */
}
